.controls {
    z-index: 9999;
    backdrop-filter: bluer(2px);
    background-color: var(--gray-700-alpha);
    padding: 1rem;
    border-radius: 7px;
    
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;

    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .duration {
        color: var(--gray-50);
        font-family: Poppins;
        font-size: .8rem;
        white-space: nowrap;
    }

    button {
        background-color: transparent;
        border: 0;
        color: var(--gray-50);
        line-height: 0;
        cursor: pointer;
    }

    .options {
        display: flex;
        gap: .5rem;
    }
}