.containerConf {
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: right;

    button {
        color: var(--gray-50);
        border: 0;
        cursor: pointer;
    }
    
    .btnConfig {
        line-height: 0;
        background-color: rgba(45, 55, 72, 0.7) ;
        border-radius: 5px;
        padding: 1rem;
    }

    .config {
  
    }

    .config.active {
        visibility: visible;
        opacity: 1;
        min-height: 100%;
    }

    .config {
        background-color: rgba(45, 55, 72, 0.7) !important;
        margin-top: .8rem;
        padding: .8rem;
        border-radius: 5px;
        color: var(--gray-50);
        visibility: hidden;
        opacity: 0;
        transition: .5s;
        min-height: 0;

        ul {
            margin-top: .5rem;
            overflow: auto;
            list-style: none;
            height: 6rem;

            li {
                display: flex;
                margin: .4rem;
            }

            button {
                background-color: transparent;
                font-size: 1rem;
                width: 100%;
                text-align: right;
                // margin-right: .rem;
            }
        }
    }
}