.player {
    position: relative;




    .controls {
        position: absolute;
        background-color: var(--gray-700);
        padding: 1rem;
        border-radius: 5px;

        bottom: 1rem;
        left: 1rem;
        right: 1rem;

        max-width: 100%;
        // width: 100%;

        .btnPause {

        }
    }

    button {
        background-color: transparent;
        border: 0;
        color: var(--gray-50);
        line-height: 0;
        cursor: pointer;
    }
}