// .containerSlider {
//     width: 100%;
//     position: relative;
//     display: inherit;
//     transition: 1s;


//     .slider {
//         position: relative;
//         width: 100%;
//         height: 3px;
//         cursor: pointer;
//         background-color: #FFFF;
//         transition: 1s;
//         border-radius: 50px;
//     }
//     .currentTime {
//         position: absolute;
//         top: -1.5rem;
//         left: 0;
//         transform: translateX(-1rem);
//         background-color: var(--gray-600);
//         color: var(--gray-50);
//         transition: 2s;
//         font-size: .8rem;
//         padding-top: .2rem;
//         width: 3rem;
//         text-align: center;
//         border-radius: 5px;
//     }
// }

.slider {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
    cursor: pointer;
  
    &[data-orientation="horizontal"] {
      height: 20;
    }
  
    &[data-orientation="vertical"] {
      flex-direction: column;
      width: 20;
      height: 100;
    }

    &__track {
        // background-color: ;
        background-color: var(--red-700);
        position: relative;
        flex-grow: 1;
    transition: .2s all;

        border-radius: 9999px;
      
        &[data-orientation="horizontal"] { height: 3px };
        &[data-orientation="vertical"] { width: 3px }
    }

    &__range {
        position: absolute;
        background-color: white;
        border-radius: 9999px;
        max-height: 100%;
        height: 100%;
    }

    &__thumb {
        background-color: var(--gray-50);
        
        width: 20px;
        height: 20px;
        display: block;
        border-radius: 100%;
    }
}