* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

:root {
  --red-900: #C53030;
  --red-700: #d25f5f;

  --gray-900: #171923;
  --gray-800: #1F2029;
  --gray-700: #353646;
  --gray-700-alpha: rgba(45, 55, 72, 0.7);
  --gray-600: #4B4D63;
  --gray-500: #616480;
  --gray-400: #797D9A;
  --gray-300: #9699B0;
  --gray-200: #B3B5C6;
  --gray-100: #D1D2DC;
  --gray-50:  #EEEEF2;
  
}


body {
  background-color: var(--gray-900);

  height: 100vh;
  width: 100%;

  display: grid;
  place-items: center;

  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: #eeeeec;
  border-radius: 0.5rem;
  height: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  margin-top: -6.5px; 
  background-color: #ffffff;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type=range]:focus::-webkit-slider-thumb {
  outline: 3px solid #ffffff;
  outline-offset: 0.125rem;
}



input[type=range]::-moz-range-track {
  background-color: #eeeeec;
  border-radius: 0.5rem;
  height: 3px;
}

input[type=range]::-moz-range-thumb {
  background-color: #ffffff;
  border: none; 
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type=range]:focus::-moz-range-thumb{
  outline: 3px solid #ffffff;
  outline-offset: 0.125rem;
}
