.player {
    position: relative;
    .videoPlayer {
        // width: 62.5rem;
        width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: 10px;
        cursor: pointer;
    }

    .containerControls.showControls, .containerControls:hover {
        visibility: visible;
        opacity: 1;
    }

    .containerControls {
        visibility: hidden;
        opacity: 0;
        transition: .5s;
    }    
    
}

// .playerFullscreen {
//     width: 100vw;
//     height: 100vh;
//     transition: .2s;
//     object-fit: cover;
//     position: fixed;
//     top: 0;
//     left: 0;
// }
