.player {
    position: relative;

    .videoPlayer {
        width: 62.5rem;
        aspect-ratio: 16 / 9;
        // width: 100%;
        border-radius: 10px;
        cursor: pointer;
    }

    .videoPlayer:hover + .containerControls, .containerControls:hover {
        visibility: visible;
        opacity: 1;
    }

    // .containerControls {
    //     visibility: hidden;
    //     opacity: 0;
    //     transition: .5s;
    // }

    button {
        background-color: transparent;
        border: 0;
        color: var(--gray-50);
        line-height: 0;
        cursor: pointer;
    }
}